@font-face {
    font-family: 'Graphik';
    src: url("../fonts/GraphikLCG-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Graphik';
    src: url("../fonts/GraphikLCG-Semibold.ttf");
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

.nav {
    padding: 25px 50px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    /* width: 772px; */
    display: flex;
    align-items: center;
}

.logo {
    width: 130px;   
    height: 28px;
}

.nav-bar {
    width: 592px;
    display: flex;
    justify-content: space-evenly;
}

.list {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.button-one {
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #000000;
    background-color: white;
    cursor: pointer;
}

.button-two {
    width: 120px;
    height: 45px;
    background: #FF6336;
    border: none;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.fix-size {
    width: 1290px;
    margin: 0 auto;
}

.first-container {
    margin-top: 129px;
    margin-bottom: 172px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info-container {
    width: 550px;
    font-family: 'Graphik';
    color: #000000;
}

.name {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    padding-bottom: 51px;
}

.text {
    width: 471px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 51px;
}

.terms {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    padding-top: 25px;
}

.button-container {
    width: 330px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.first {
    width: 160px;
    height: 60px;
}

.pic1 {
    width: 759px;
    height: 529px;
    align-self: center;
}

.second-container {
    background: #FF9C7D;
}

.second-name {
    width: 720px;
    font-family: 'Graphik';
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    padding-top: 108px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.logo-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 105px;
}

.third-container {
    max-width: 1290px;
    margin-top: 90px;
    font-family: 'Graphik';
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.info-container2 {
    width: 657px;
    align-self: center;
}

.name2 {
    width: 493px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 30px;
}

.text2 {
    width: 520px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}

.link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
}

.text-link {
    color: #000000;
}

.picture {
    width: 632px;
}

.top {
    padding-top: 250px;
}

.left {
    padding-left: 138px;
}